.contain-to-grid, .top-bar {
	background: transparent;
	height: 60px;

	// .mobile-nav {
	// 	position: relative;

	// 	&__list {
	// 		display: flex;
	// 		list-style: none;
	// 		justify-content: space-around;
	// 		position: relative;

	// 		&-item {
	// 			&--menu {
	// 				width: 40px;
	// 				height: 40px;
	// 				position: absolute;
	// 				top: 10px;
	// 				right: 5px;
	// 			}
	// 		}
	// 	}
		
	// 	.dropdown {
	// 		display: block;
	// 		position: absolute;
	// 		z-index: 3;
	// 		width: 200px;
	// 		height: 600px;
	// 		margin: 0 auto;
	// 		top: 60px;
	// 		left: 0;

	// 		&__list {
	// 			list-style: none;
	// 			margin: 0;
	// 		    background-color: lightgrey; 

	// 		    &-item {
	// 		    	a {
	// 		    		color: $color-black;
	// 		    	}
	// 		    }

	// 			li:hover {
	// 		    	background-color: lighten(lightgrey, 10%); 
	// 			}
	// 		}
	// 	}

	// 	@media screen and (min-width: 1440px) {
	// 		display: none;
	// 	}
	// }

	.desktop-nav {
		display: flex;
		justify-content: space-around;
		margin: 0;
		text-transform: uppercase;

			&-item {
				padding: 15px 0;
				transition: ease-in-out .1s;

				a {
					color: $color-black;
				}

				&--logo {
					font-family: $font-Risque;
					text-transform: uppercase;

					a {
						span {
				    		color: complement(#199595);
						}
			    	}
				}

				.selected {
					border-bottom: 2px solid #199595;
					padding: 2px 4px;
				}

				&:hover {
					transform: scale(1.1);
				}
			}

			&--list {
				display: flex;
				justify-content: space-around;

				@media screen and (max-width: 1000px) {
						display: block;
					}
			}
	}

	
}